<h1 class="cd-headline letters type">
  <span>Get</span>
  <span class="cd-words-wrapper waiting">
    <b class="is-visible">Simple</b>
    <b>Secure</b>
    <b>Private</b>
    <b>Efficient</b>
    <b>Scalable</b>
    <b>Reliable</b>
  </span>
  <br class="visible-xs">
  <span>Object Storage</span>
</h1>
