<nav class="navbar navbar-page">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' classNames='navbar-brand'}}
        <img src="img/logo-blue.svg" alt="MetaDisk" class="logo">
      {{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-left">
        <li>{{#link-to 'dashboard.buckets'}}Buckets{{/link-to}}</li>
        <li>{{#link-to 'dashboard.api'}}API{{/link-to}}</li>
        <li>{{#link-to 'dashboard.billing'}}Billing{{/link-to}}</li>
        <li><a href="">Support</a></li>
      </ul>
      <div class="navbar-right">
        {{yield}}
        {{#link-to 'index' classNames='btn btn-menu btn-transparent'}}Logout{{/link-to}}
      </div>
    </div>
  </div>
</nav>
