<footer>
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="" class="footer-logo">
        <img src="img/logo-blue.svg" alt="MetaDisk">
      </a>
      <ul class="list-unstyled">
        <li><p>Copyright © 2015</p></li>
        <li><p>Storj Labs Inc.</p></li>
        <li><a href="https://angel.co/storj/jobs/">We're Hiring!</a></li>
      </ul>
    </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="http://storj.io/team.html">About Us</a></li>
          <li><a href="http://blog.storj.io/">Blog</a></li>
          <li><a href="http://storj.io/careers.html">Careers</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5>Product</h5>
        <ul class="list-unstyled">
          <li><a href="">API Docs</a></li>
          <li><a href="http://storj.io/faq.html">FAQ</a></li>
          <li><a href="http://slack.storj.io">Join Slack</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5>Connect</h5>
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/storjproject" target="_blank"><img class="social-link" src="img/social-twitter.svg" alt="">Twitter</a></li>
          <li><a href="https://github.com/Storj/" target="_blank"><img class="social-link" src="img/social-github.svg" alt="">GitHub</a></li>
          <li><a href="" target="_blank"><img class="social-link" src="img/social-reddit.svg" alt="">Reddit</a></li>
        </ul>
      </div>
  </div>
  </div>
</footer>
