.unit-numbers {
  font-size: 40px;
  letter-spacing: -2px;
}

.unit-text {
  font-size: 15px;
  padding-left: 10px;
  letter-spacing: 0;
  display: inline-block;
}

.unit-text sub {
  vertical-align: top;
}