[submodule "storj-base"]
	path = storj-base
	url = git@github.com:Storj/storj-base.git
	branch = alt
[submodule "bridge"]
	path = bridge
	url = git@github.com:Storj/bridge.git
	branch = billing-5
[submodule "billing"]
	path = billing
	url = git@github.com:Storj/billing.git
[submodule "core"]
	path = core
	url = git@github.com:Storj/core.git
