/** The Island of Misfit Styles
 * The longer this file grows, the longer it will take to change styles.
 * Be kind and attempt to move these to components and themes.
 */

@import 'variables';


/* --------------------------------

Inputs

-------------------------------- */

input, select {
	//display: block;
	background: #fbfbfb;
	//border: 1px solid #eee;
	border-radius: 3px;
	color: #2683FF;
	padding: 12px 18px 10px;
	//margin: 25px auto;
	//width: 100%;
	//max-width: 320px;
  font-size: 16px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

input:focus, select:focus {
    outline: 0;
    border-color: #2D86fb;
}
.page input, .page select {
	margin: 10px 0;
    border-width: 1px;
    max-width: 100%;
}
#publicKeys input {
	margin-top: 20px;
}

select {
	height: 46px;
	text-indent: 10px;
	color: #444;
}

.email {
	margin-top: 1em;
	margin-bottom: 1em;
}

::-webkit-input-placeholder {
    color: #444;
}
:focus::-webkit-input-placeholder {
    color: #BAD7FE;
}
:-moz-placeholder {
    color: #444;
}
:focus:-moz-placeholder {
    color: #BAD7FE;
}
::-moz-placeholder {
    color: #444;
}
:focus::-moz-placeholder {
    color: #BAD7FE;
}
:-ms-input-placeholder {
    color: #444;
}
:focus:-ms-input-placeholder {
    color: #BAD7FE;
}

/* --------------------------------

Buckets

-------------------------------- */

body.page {
	background: #f9f9f9;
	padding-bottom: 3em;
}
.content {
	border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 2em;
}
label {
	margin-bottom: 0.8em;
}
.table {
	margin-bottom: 0;
}
.table-responsive.content {
	padding: 0;
}
tr {
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
th, td {
	padding: 1.8em !important;
}

.table>thead>tr>th {
    border-bottom: 1px solid #eee;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #eee;
}
.bucket-plan a {
	font-family: 'Avenir Next LT Pro Demi';
	text-decoration: none;
}
.bucket-icon {
	padding: 22px 0 0 26px !important;
    margin: 0;
    width: 70px;
}
.bucket-icon img {
	width: 42px;
    padding: 0;
    margin: 0;
}
.clickable-row {
	cursor: pointer;
}
.btn-create-bucket {
	margin-bottom: 2em;
}
.bucket-pricing-icon {
	height: 50px;
	width: 50px;
	margin: 15px;
}

.page .btn-block {
    font-size: 16px;
    margin: 0.5em auto;
    padding: 0.9em 0 0.8em;
}

input.parent-code {
	margin: 1.2em auto;
	line-height: 1.8em;
}
