/** The lovely, little knickknacks making up the theme that have nothing to do
 * with Bootstrap styles
 */
@import 'variables';

.logo {
  width:150px;
  margin-right:15px;
}

body {
  background-color: #f9f9f9;
}

html, body, #content {
  height: 100%;
}

/* --------------------------------

Buttons

-------------------------------- */

.btn-transparent {
	background: transparent;
  border-color: #eee;
  color: #555;
}

.btn-transparent:hover {
	background: #fff;
	color: #333;
	border-color: #555;
}

.btn-green {
	border-color: #88C425;
	color: #fff;
	background: #88C425;
}

.btn-green:hover, .btn-green:focus {
	background: #91D127;
	border-color: #91D127;
  color: #fff;
}

.btn-orange {
	background: #FF7F00;
	border-color: #FF7F00;
	color: #fff;
}

.btn-orange:hover, .btn-orange:focus {
	background: #FF6600;
	border-color: #FF6600;
}

.btn-red {
  background: transparent;
  border-color: #fa6e50;
  color: #fa6e50;
}

.btn-red:hover, .btn-red:focus {
  background: #fa6e50;
  border-color: #fa6e50;
  color: #fff;
}



::-webkit-input-placeholder {
    color: #444;
}
:focus::-webkit-input-placeholder {
    color: #BAD7FE;
}
:-moz-placeholder {
    color: #444;
}
:focus:-moz-placeholder {
    color: #BAD7FE;
}
::-moz-placeholder {
    color: #444;
}
:focus::-moz-placeholder {
    color: #BAD7FE;
}
:-ms-input-placeholder {
    color: #444;
}
:focus:-ms-input-placeholder {
    color: #BAD7FE;
}

@mixin radial-gradient-animation( $start, $end, $transTime ){
  &:before {
    background-image: radial-gradient(ellipse at 50% 20%, $start 0%, $end 100%);
    background-color: #FFF;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    z-index: -100;
    transition: opacity $transTime ease-out;
  }
}

body.success {
  @include radial-gradient-animation(lighten($brand-success, 42%), $brand-success, 2s);
}

body.show {
  &:before {
    opacity:1;
  }
}

.table-files {
  table-layout: fixed;
  word-break: break-word;
}
