/** The lovely, little knickknacks making up the theme that have nothing to do
 * with Bootstrap styles
 */
@import 'variables';
@import 'utils';

.logo {
  display: inline-block;
  margin: 0 20px 0 15px;
  width: 120px;
  height: 52px;
}

body {
  background-color: #f9f9f9;
}

html, body, #content {
  height: 100%;
}

/* --------------------------------

Buttons

-------------------------------- */

.btn-transparent {
	background: transparent;
  border-color: #eee;
  color: #555;
  span, a {
    color: #555;
  }
}

.btn-transparent:hover {
	background: #eee;
	color: #333;
  span, a {
    color: #333;
  }
}

.btn-blue {
  border-color: $brand-primary;
  color: #fff;
  background: $brand-primary;
  span, a {
    color: #fff;
  }
}

.btn-blue:hover, .btn-blue:focus {
  background: #173AE8;
  border-color: #173AE8;
  color: #fff;
  span, a {
    color: #fff;
  }
}

.btn-green {
	border-color: #88C425;
	color: #fff;
	background: #88C425;
  span, a {
    color: #fff;
  }
}

.btn-green:hover, .btn-green:focus {
	background: #91D127;
	border-color: #91D127;
  color: #fff;
  span, a {
    color: #fff;
  }
}

.btn-orange {
	background: #FF7F00;
	border-color: #FF7F00;
	color: #fff;
}

.btn-orange:hover, .btn-orange:focus {
	background: #FF6600;
	border-color: #FF6600;
  color: #fff;
  span, a {
    color: #fff;
  }
}

.btn-red {
  background: transparent;
  border-color: #fa6e50;
  color: #fa6e50;
  span, a {
    color: #fa6e50;
  }
}

.btn-red:hover, .btn-red:focus {
  background: #fa6e50;
  border-color: #fa6e50;
  color: #fff;
  span, a {
    color: #fff;
  }
}

.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
  &:focus {
    outline:0;
  }
}

.btn-circle {
  width: 56px;
  height: 56px;
  min-width: 56px;

  span {
    top:0px;
    //subtract button border
    line-height: 52px;
  }
}

.btn-circle.btn-lg {
  width: 78px;
  height: 78px;
  min-width: 78px;

  span {
    line-height: 74px;
  }
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  min-width: 40px;

  span {
    line-height: 36px;
  }
}

.btn-circle.btn-xs {
  width: 30px;
  height: 30px;
  min-width: 30px;

  span {
    line-height: 26px;
  }
}

.btn-raised {
  // shadow depth 1
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24);

  &:active, &.active, &:active:focus, &.active:focus {
    // shadow depth 2
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }

  &:focus {
    // shadow depth 2
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
}


.form-control::-webkit-input-placeholder {
    color: #444;
}
.form-control:focus::-webkit-input-placeholder {
    color: #BAD7FE;
}
.form-control:-moz-placeholder {
    color: #444;
}
.form-control:focus:-moz-placeholder {
    color: #BAD7FE;
}
.form-control::-moz-placeholder {
    color: #444;
}
.form-control:focus::-moz-placeholder {
    color: #BAD7FE;
}
.form-control:-ms-input-placeholder {
    color: #444;
}
.form-control:focus:-ms-input-placeholder {
    color: #BAD7FE;
}

@mixin radial-gradient-animation( $start, $end, $transTime ){
  &:before {
    background-image: radial-gradient(ellipse at 50% 20%, $start 0%, $end 100%);
    background-color: #FFF;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    z-index: -100;
    transition: opacity $transTime ease-out;
  }
}

body.success {
  @include radial-gradient-animation(lighten($brand-success, 42%), $brand-success, 2s);
}

body.show {
  &:before {
    opacity:1;
  }
}

.table-files {
  table-layout: fixed;
  word-break: break-word;
}

span.psuedo-link {
  color: $brand-primary;
  cursor: pointer;
  margin-top:22px;
}

span.psuedo-link:hover {
  text-decoration: underline;
}
