.modal-scroll-body {
  & > .modal-dialog {
    height: 100%;
    overflow-y: hidden;
    margin: -40px auto;
    top: 40px;
    padding: 40px 0;

    & > .modal-content {
      height: 100%;
      overflow: hidden;

      & > .modal-body {
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 180px;
        margin-bottom: -180px;
        z-index: 1;
        position: relative;
      }

      & > .modal-footer {
        background: white;
        z-index: 2;
        position: relative;
      }
    }
  }
}
