.auth .logo {
	margin: 3em auto;
	width: 200px;
}

.auth .content {
	padding: 2em 3em;
}

.auth .forgot-password {
	display: block;
	margin-top: 8px;
}

.auth .password .title {
	margin-bottom: 0.6em;
}

.auth .password .content p {
	margin-bottom: 2.5em;
}

.auth .checkbox label {
    padding-left: 24px;
}
