{{#site-header}}
  <div class="container">
    <div class="header-content">
      <div class="row headlines text-center">
        <h1>Almost Finished</h1>
        <p>We need to confirm your email address.<br class="hidden-xs"> Please click the link in the email we just sent you.</p>
        {{#link-to 'index' classNames='btn btn-lg btn-orange subscribe'}}Back to Homepage{{/link-to}}
      </div>
    </div>
  </div>
{{/site-header}}
{{#site-footer}}{{/site-footer}}
