{{#site-header}}
  <div class="container">
    <div class="header-content">
      <div class="row headlines text-center">
        {{#changing-adjectives}}{{/changing-adjectives}}
        <p>MetaDisk provides developers and IT teams with<br class="hidden-xs"> high performance, durable object storage.</p>
        <form action="http://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=7384dee0b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" spellcheck="false" required>
          <div class="offscreen"><input type="text" name="b_edba9fc4ce8b9095a31859cba_7384dee0b2" tabindex="-1" value=""></div>
          <input type="submit" value="Request Invite" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-orange subscribe">
        </form>
      </div>
    </div>
  </div>
{{/site-header}}

<section class="value text-center" id="features">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="img/icon-uptime.svg" alt="">
        <h4>100% Uptime Forever</h4>
        <p>No central points of failure</p>
      </div>
      <div class="col-sm-3">
        <img src="img/icon-cost.svg" alt="">
        <h4>Half The Cost</h4>
        <p>Compared to traditional clouds</p>
      </div>
      <div class="col-sm-3">
        <img src="img/icon-fast.svg" alt="">
        <h4>Lightning Fast</h4>
        <p>Peer-to-peer technology</p>
      </div>
      <div class="col-sm-3">
        <img src="img/icon-safe.svg" alt="">
        <h4>End-to-End Encryption</h4>
        <p>Guaranteed security &amp; privacy</p>
      </div>

    </div>
  </div>
</section>

<section class="pricing section text-center" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-push-1">
        <h1>Simple Pricing</h1>
        <p>Pay only for what you use. No setup fees, no minimum usage.</p>
      </div>
    </div>
    <div class="row plans">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1">
        <div class="plan">
          <div class="row">
            <div class="col-xs-12">
              <p class="plan-title">Storage</p>
              <img src="img/icon-storage.svg" class="plan-icon" alt="">
              <h2 class="plan-pricing">$0.015<span>GB / month</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1">
        <div class="plan">
          <div class="row">
            <div class="col-xs-12">
              <p class="plan-title">Bandwidth</p>
              <img src="img/icon-bandwidth.svg" class="plan-icon" alt="">
              <h2 class="plan-pricing">$0.05<span>GB / month</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn subscribe" id="getStarted" {{action 'getStarted' '#getStartedForm' '#getStarted'}}>Get Started</button>
        <div class="get-started-form" id="getStartedForm">
          <form action="http://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=7384dee0b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <input type="email" value="" name="EMAIL" class="email" id="getStartedEmail" placeholder="Enter your email here" spellcheck="false" required>
            <div class="offscreen"><input type="text" name="b_edba9fc4ce8b9095a31859cba_7384dee0b2" tabindex="-1" value=""></div>
            <input type="submit" value="Invite Me" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section compare">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-10 col-xs-push-1">
        <h1>50% Price Discount</h1>
        <p>Compare MetaDisk pricing VS Amazon S3 and Microsoft Azure.</p>
      </div>
    </div>
    <div class="row compare-table">
      <div class="col-sm-12 col-md-8 col-md-push-2">
        <div class="compare-product compare-metadisk row">
          <div class="col-xs-6 text-left">
            <img src="img/logo-blue.svg" class="img-responsive compare-logo" alt="MetaDisk Cloud Storage">
          </div>
          <div class="col-xs-6 text-right">
            <h2 class="compare-pricing">$0.015<span>GB / Month</span></h2>
          </div>
        </div>
        <div class="compare-product row">
          <div class="col-xs-6 text-left">
            <img src="img/logo-amazons3.png" class="img-responsive compare-logo" alt="Amazon S3 Cloud Storage">
          </div>
          <div class="col-xs-6 text-right">
            <h2 class="compare-pricing">$0.030<span>GB / Month</span></h2>
          </div>
        </div>
        <div class="compare-product row">
          <div class="col-xs-6 text-left">
            <img src="img/logo-azure.png" class="img-responsive compare-logo" alt="Microsoft Azure Cloud Storage">
          </div>
          <div class="col-xs-6 text-right">
            <h2 class="compare-pricing">$0.030<span>GB / Month</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <button class="btn subscribe" id="getStarted2" {{action 'getStarted' '#getStartedForm2' '#getStarted2'}}>Sign Up Now</button>
        <div class="get-started-form" id="getStartedForm2">
          <form action="http://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=7384dee0b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <input type="email" value="" name="EMAIL" class="email" id="getStartedEmail2" placeholder="Enter your email here" spellcheck="false" required>
            <div class="offscreen"><input type="text" name="b_edba9fc4ce8b9095a31859cba_7384dee0b2" tabindex="-1" value=""></div>
            <input type="submit" value="Invite Me" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row text-center upload-intro">
      <div class="col-xs-10 col-xs-push-1">
        <h1>Upload &amp; Download</h1>
        <p>Just drag-and-drop with the MetaDisk interface or use the API to code your app.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <img src="img/metadisk.png" class="upload-metadisk" alt="">
      </div>
      <div class="col-sm-6">
        <div class="row upload text-center-xs">
          <div class="col-xs-12 col-sm-3 col-lg-2">
            <img src="img/icon-web.svg" class="upload-icons" alt="">
          </div>
          <div class="col-xs-12 col-sm-9 col-lg-10">
            <h4>Web Interface</h4>
            <p>Use our simple drag-and-drop interface.</p>
          </div>
        </div>
        <div class="row upload text-center-xs">
          <div class="col-xs-12 col-sm-3 col-lg-2">
            <img src="img/icon-api.svg" class="upload-icons" alt="">
          </div>
          <div class="col-xs-12 col-sm-9 col-lg-10">
            <h4>Developers API</h4>
            <p>Build your application on top of our API.</p>
          </div>
        </div>
        <div class="row upload text-center-xs">
          <div class="col-xs-12 col-sm-3 col-lg-2">
            <img src="img/icon-cli.svg" class="upload-icons" alt="">
          </div>
          <div class="col-xs-12 col-sm-9 col-lg-10">
            <h4>Command Line (CLI)</h4>
            <p>Script your uploads/downloads.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="traction text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="img/icon-capacity.svg" alt="">
        <h2><span id="storage-count" class="storage-count">{{storage}} TB</span> Storage Online</h2>
      </div>
      <div class="col-sm-6">
        <img src="img/icon-users.svg" alt="">
        <h2><span id="user-count" class="user-count">{{farmers}}</span> Users Online</h2>
      </div>
    </div>
  </div>
</section>

<section class="c2a text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <form action="http://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=7384dee0b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <h1>Get Simple Object Storage</h1>
          <p>Sign up to learn more and get early access to MetaDisk.</p>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" spellcheck="false" required>
            <div class="offscreen"><input type="text" name="b_edba9fc4ce8b9095a31859cba_7384dee0b2" tabindex="-1" value=""></div>
          <input type="submit" value="Sign Up for Invite" name="subscribe" id="mc-embedded-subscribe" class="btn btn-orange subscribe">
        </form>
      </div>
    </div>
  </div>
</section>

{{#site-footer}}{{/site-footer}}
