<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-xs-12 text-center">
        <div class="row text-center">
          {{#link-to 'index'}}
            <img src="img/logo-white.svg" alt="MetaDisk" class="logo">
          {{/link-to}}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="content">
              <h1 class="title text-center">Login</h1>
              <input type="email" name="email" placeholder="Email Address">
              <input type="password" name="password" placeholder="Password">
              {{#link-to 'dashboard' classNames='btn btn-block btn-green'}}Login{{/link-to}}
              <div class="row">
                <div class="col-sm-6 text-left">
                  <div class="checkbox">
                    <label><input type="checkbox"> Remember Me</label>
                  </div>
                </div>
                <div class="col-sm-6 text-right">
                  {{#link-to 'password-reset'}}Forgot Password?{{/link-to}}
                </div>
              </div>
            </div>
            <p>Don't have an account? {{#link-to 'signup' classNames='login'}}Sign Up{{/link-to}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
